<div id="home" class="surface-0 overflow-hidden">
  <div id="features" class="px-2 m-1">
    <div class="grid justify-content-center">
      <div class="col-12 text-center m-2">
        <h2 class="text-900 text-primary font-normal mb-1">Apresentação</h2>
      </div>

      <div
        class="col-12"
        style="
          height: auto;
          padding: 2px;
          margin: 2px;
          border-radius: 10px;
          background: var(--primary-color);
        "
      >
        <div class="p-3 surface-card h-full" style="border-radius: 8px">
          <div>
            <img
              class="border-circle h-6rem w-6rem"
              alt="Profile Picture"
              src="https://i.ibb.co/BHJDr1j/1632083037994.jpg"
            />
          </div>
          <h5 class="mb-2 text-900">Nome: Priscila Duarte</h5>
          <h5 class="mb-2 text-900">E-mail: duartecostap@gmail.com</h5>

          <h5 class="mb-2 text-900">Cidade: Campinas - SP</h5>
          <h5 class="mb-2 text-900">Cargo Atual: Desenvolvedora de Sistemas</h5>
        </div>
      </div>
    </div>
  </div>
</div>
