<div id="home" class="surface-0 overflow-hidden">
  <div id="features" class="px-2 m-1">
    <div class="grid justify-content-center">
      <div class="col-12 text-center m-2">
        <h2 class="text-900 text-primary font-normal mb-1">Apresentação</h2>
      </div>

      <div
        class="col-12"
        style="
          height: auto;
          padding: 2px;
          margin: 2px;
          border-radius: 10px;
          background: var(--primary-color);
        "
      >
        <div class="p-3 surface-card h-full" style="border-radius: 8px">
          <div>
            <img
              class="border-circle h-6rem w-6rem"
              src="https://media-exp1.licdn.com/dms/image/C5603AQENEjMJgrLA3w/profile-displayphoto-shrink_800_800/0/1632083037994?e=1650499200&v=beta&t=aDOL2VBx8wzn1D51DFFohW7XXGn81otmaGhwGEnD-sc"
            />
          </div>
          <h5 class="mb-2 text-900">Nome: Priscila Duarte</h5>
          <h5 class="mb-2 text-900">Idade: 28 anos</h5>
          <h5 class="mb-2 text-900">
            E-mail: duartecostap@gmail.com 
          </h5>

          <h5 class="mb-2 text-900">
            Celular:
            <a
              class="underline p-link text-xl"
              href="https://api.whatsapp.com/send?phone=5519995017297&text=Ol%C3%A1%21+Priscila, tudo bem?&lang=pt_pt"
              target="_blank"
            >
              <span>(19) 99501-7297</span>
            </a>
          </h5>
          <h5 class="mb-2 text-900">Cidade: Campinas - SP</h5>
          <h5 class="mb-2 text-900">
            Ocupação 1: Analista Desenvolvedora de Sistemas Jr na Stefanini Brasil
          </h5>
          <h5 class="mb-2 text-900">
            Ocupação 2: Residente Globotech Academy
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
